## Node
node_modules
yarn-error.log
jam-server/jam-server/src/main/resources/static

## Scala
target

## Scala with VSCode
.metals
.bloop
metals.sbt

## Scala with Intellij
.idea

## Build
docker/dist/*.jar
